.icon-block {
    padding: 0 15px;
}

#about, #models, #join, #exams, #history {padding-top: 4rem;}

#index-banner {
    min-height: 632px;
    max-height: 864px;
    position: relative;
    background-color: rgba(33, 150, 243, 0.50);
}

#nav_f{
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}

.back{
  height: 500px;
}

.text_h {
    padding: 15% 0;
    font-size: 6.0em;
    font-weight: 100;
    color:white;
}

.btn{
  background-color: rgba(33, 150, 243, 1) !important;
}

.brand-logo{
  margin-top: 6px;
}

@media only screen and (max-width: 480px) {
    .brand-logo{
      font-size: 1.5rem !important;
      letter-spacing: 2.5px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1120px) {
    .brand-logo{
      letter-spacing: 1px;
    }
}

.text_h2 {font-weight: 100;margin-bottom: 4%; line-height: 4.5rem;}

.text_h3 {font-weight: 100;margin-bottom: 4%; line-height: 3rem;}

.span_h2 {font-weight: 300;color: #1c2359;}

.text_b{color: #1c2359;}

.in{font-weight: 400 !important; font-style: normal !important;}

.promo i {
    color: #1c2359;
    font-size: 7rem;
    display: block;
}

.card-content a {color: #1c2359;}

.card-content a:hover {color: #1c2359;}

.text_pink{text-color:#EF9A9A;}

nav ul a {
    font-size: 1.2rem;
    color: #FFF;
    letter-spacing: 2px;
    display: block;
    font-weight: 300;
    padding: 0px 15px;
}

/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:1200; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/status.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}

@media only screen and (max-width: 480px) {
    .text_h {
        padding: 4% 0;
        font-size: 5em;
        font-weight: 100;
        color: white;
    }
}

input, textarea {
    border-bottom: 1px solid #fff;
}

nav a.button-collapse {
    left: -25px;
}

.card-avatar .waves-effect {
    text-align: center;
    margin-top: 20px;
}

.card-avatar img {
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

.card-avatar .card-content {
    text-align: center;
}

.row {
    margin-top: 15px !important;
}

.card .card-content p {
    margin: 15px 0px;
}

.card-avatar .card-content i {
   font-size: 1.5rem;
}

.card-avatar .card-content .card-title {
    line-height: 30px !important;
}

.parallax-container {
    max-height: 400px;
}

footer.page-footer {
    margin-top: 0px !important;
}
